---
import { Image } from 'astro:assets'

import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import { skillArrays } from '@/utils/skillsConfig'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'

const {
  languages,
  frameworks,
  cloudInfrastructure,
  devopsContainerization,
  databases,
  testingQualityAssurance,
  bestPractices,
  performanceMonitoring,
  projectCollaboration
} = skillArrays

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='Buenos Aires, Argentina'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>

      {/* Social Links */}
      <div class='flex gap-x-4'>
        <a
          href='https://github.com/juliancasaburi'
          target='_blank'
          class='flex flex-row items-center gap-x-3 rounded-full border bg-background px-4 py-2 text-sm shadow-sm transition-shadow hover:shadow-md'
        >
          <span class='relative flex items-center justify-center'>
            <Icon name='github' class='size-5' />
          </span>
          <p class='font-medium text-muted-foreground'>View GitHub</p>
        </a>
        <a
          href='https://www.linkedin.com/in/julian-casaburi/'
          target='_blank'
          class='flex flex-row items-center gap-x-3 rounded-full border bg-background px-4 py-2 text-sm shadow-sm transition-shadow hover:shadow-md'
        >
          <span class='relative flex items-center justify-center'>
            <i class='devicon-linkedin-plain text-[1.25rem]'></i>
          </span>
          <p class='font-medium text-muted-foreground'>View LinkedIn</p>
        </a>
      </div>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>
          Backend Software Engineer with a focus on building secure, scalable, and cost-effective
          cloud solutions.
        </p>
        <p class='text-muted-foreground'>
          Graduated with a Licenciatura en Sistemas degree—a program combining elements of both
          Bachelor's and Master's studies—and previously earned the Analista Programador
          Universitario degree. Both were completed at the Facultad de Informática, Universidad
          Nacional de La Plata.
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' style='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
          </Section>
        )
      }

      {
        /* <Section title='Experience'>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      >
        <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            molestiae laboriosam pariatur!

            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
          </li>
        </ul>
      </Card>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      />
    </Section> */
      }
      <Section title='Education'>
        <Card
          as='a'
          heading='Licenciatura en Sistemas (hybrid between BSc and MSc in Computer Science)'
          subheading='Facultad de Informática within Universidad Nacional de La Plata'
          date='February 2016 - December 2024'
          href='https://servicios.unlp.edu.ar/validar/titulo/1/5316cd924b52f7c70c56fd6569e30097'
        >
          {
            (
              <p class='text-muted-foreground'>
                Honors: Joaquín V. González Distinction (top academic performance)
              </p>
            )
          }
        </Card>
        <Card
          as='a'
          heading='Analista Programador Universitario'
          subheading='Facultad de Informática within Universidad Nacional de La Plata'
          date='February 2016 - September 2021'
          href='https://servicios.unlp.edu.ar/validar/titulo/1/b9b99a92591793224c6f254d10792ec3'
        >
        </Card>
      </Section>

      <Section title='Publications'>
        <Card
          as='a'
          heading='Assessing the Migration from FaaS to IaaS: Cost, Performance, and Challenges in AWS'
          subheading='ICWE 2025 (International Conference on Web Engineering)'
          date='October 2025'
          href='https://doi.org/10.1007/978-3-031-97207-2_22'
        />
      </Section>

      <Section title='Certifications'>
        <Card
          as='a'
          heading='EF SET English Certificate 79/100 (C2 Proficient)'
          subheading=''
          date='May 2025'
          href='https://cert.efset.org/en/pThkaJ'
        />
        <Button
          title='All certifications'
          class='w-fit self-end'
          href='https://www.linkedin.com/in/julian-casaburi/details/certifications/'
          style='ahead'
        />
      </Section>

      <Section title='Skills'>
        <SkillLayout title='Languages' skills={languages} />
        <SkillLayout title='Frameworks' skills={frameworks} />
        <SkillLayout title='Cloud & Infrastructure' skills={cloudInfrastructure} />
        <SkillLayout title='DevOps & Containerization' skills={devopsContainerization} />
        <SkillLayout title='Databases' skills={databases} />
        <SkillLayout title='Testing & Quality Assurance' skills={testingQualityAssurance} />
        <SkillLayout title='Best Practices' skills={bestPractices} />
        <SkillLayout title='Performance & Monitoring' skills={performanceMonitoring} />
        <SkillLayout title='Project & Collaboration Tools' skills={projectCollaboration} />
      </Section>
    </div>
  </main>
</PageLayout>
